@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600');
body {
    font-family: "Raleway";
    font-weight: 300;
    min-height: 100%;
    margin: 0px;
}
h1 {
    font-weight: 200;
    font-size: 9em;
    margin: 2%;
}
#top {
    margin: 0;
    width: 100%;
    height: 30px;
}
#page {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

#land h1 {
    width: 100%;
    height: 100vh;
    top: 25%;
    left: 0;
    position: absolute;
}
#land img {
    width: 15vw;
    transform: rotate(90deg);
}
.nav {
    text-align: center;
    background-color: #FFF;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    border: 2px solid black;
    line-height: 3em;
    border-radius: 10px;
}
.nav a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
    font-weight: 500;
    margin: 5%;
}
.nav a:hover {
    color: #E0003C;
    text-decoration: underline;
}
.scrolldown {
    top: 0vh;
    width: 100%;
    text-align: center;
    position: fixed;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    background-color: #fff;
    animation-direction: normal;
    animation: navChange .25s linear 1;
    margin-left: -50%;
    z-index: 9999;
}
.scrollup {
    text-align: center;
    background-color: #FFF;
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    border: 2px solid black;
    line-height: 3em;
    border-radius: 10px;
    animation-direction: normal;
    z-index: 9999;
    animation: navChangeBack .25s linear 1;
}

@keyframes navChange {
    0% {
        border: 2px solid black;
        border-radius: 10px;
        position: fixed;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        border: 2px solid black;
    }
    100% {
        border: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid black;
        border-radius: 0;
        position: fixed;
        top: 0%;
        width: 100%;
        margin-left: -50%;
    }
}
@keyframes navChangeBack {
    0% {
        border: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid black;
        border-radius: 0;
        width: 100%;
        margin-left: -50%;
    }
    100% {
        border: 2px solid black;
        border-radius: 10px;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        border: 2px solid black;
    }
}
@media only screen and (max-width: 600px) {
    .nav.pagenav {
        display: none;
    }
    #Nav {
        display: none;
    }
}

/*End Navigation*/


/*Start Modal*/

/*Modal (background)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 30px;
    font-weight: 600;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*end Modal*/


#top {
    z-index: 2;
    background-color: #FFF;
    height: 30px;
}


.subSec {
    padding-top: 50vh;
    width: 100%;
}

/*Art Gallery*/

#gallery {
     margin-top: 50vh;
}
#artl {
    width: 40%;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

#artl .pic {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 90px; 
  margin: .5vw; 
 }

.pic img {
border-radius: 5px;
  width: 100%; 
  height: auto; 
      -webkit-transition: -webkit-transform .5s; /* For Safari 3.1 to 6.0 */
    transition: transform .5s;
}

.pic img:hover {
    transform: scale(1.5);

}

#artr {
    width: 50%;
    padding: .5vw;
      display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;

}

#design {
    flex-flow: row wrap;
}

.mock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mock .img {
    display: flex;
    margin: 3.5%;
    width: 500px;
    height: 275px;
    border-radius: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


#contact h1 a{
    font-size: 10vh;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin: 5%;

}

#contact h1 a:hover {
    color: #E0003C;
    text-decoration: underline;
}



@media only screen and (max-width: 915px) {
    .nav a {
        margin: 1.5%;
    }
    #land img {
    width: 25vw;
    }
}


@media only screen and (max-width: 500px) {

    .nav {
        display: none;
    }
    #land img {
    width: 60vw;
    }

    h1 {
    font-size: 18vw;
}

}