@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600');
body {
  font-family: "Raleway";
  font-weight: 300;
  min-height: 100%;
  margin: 0px;
}

h1 {
  font-weight: 200;
  font-size: 7em;
  width: 100%;
}

#top {
  margin: 0;
  width: 100%;
  height: 30px;
}

#page {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

#land h1 {
  top: 45%;
  left: 0;
  position: absolute;
}

#land img {
  width: 40vh;
  transform: rotate(90deg);
}

.nav {
  text-align: center;
  background-color: #FFF;
  position: absolute;
  width: 50%;
  top: 70%;
  left: 50%;
  margin-left: -25%;
  border: 2px solid black;
  line-height: 3em;
  border-radius: 10px;
  z-index: 2;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 2em;
  font-weight: 500;
  margin: 5%;
}

.nav a:hover {
  color: #E0003C;
  text-decoration: underline;
}

.scrolldown {
  top: 0vh;
  width: 100%;
  text-align: center;
  position: fixed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  background-color: #fff;
  animation-direction: normal;
  animation: navChange .25s linear 1;
  margin-left: -50%;
  z-index: 2;
}

.scrollup {
  text-align: center;
  background-color: #FFF;
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  border: 2px solid black;
  line-height: 3em;
  border-radius: 10px;
  animation-direction: normal;
  z-index: 2;
  animation: navChangeBack .25s linear 1;
}

@keyframes navChange {
  0% {
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    border: 2px solid black;
  }
  100% {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid black;
    border-radius: 0;
    position: fixed;
    top: 0%;
    width: 100%;
    margin-left: -50%;
  }
}

@keyframes navChangeBack {
  0% {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid black;
    border-radius: 0;
    width: 100%;
    margin-left: -50%;
  }
  100% {
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    border: 2px solid black;
  }
}


/*End Navigation*/


/*Start Modal*/


/*Modal (background)*/


/*.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}*/


/* Modal Content/Box */


/*.modContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
    font-weight: 600;
}*/


/* The Close Button */


/*.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}*/


/*end Modal*/

#top {
  z-index: 2;
  background-color: #FFF;
  height: 30px;
}

.subSec {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 40vh;
  display: flex;
  flex-flow: column wrap;
}


/*Art Gallery*/

#gallery {
  margin-top: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#gallery>.art {
  padding: 0 8px;
}

.art {
  width: 100%;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.art .pic {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 400px;
  height: 200px;
  margin: .5vw;
  transition: transform .5s;
}

.pic img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: -webkit-transform .25s;
  /* For Safari 3.1 to 6.0 */
  transition: transform .25s;
}

.art .pic img:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Gallery Modal*/

#artModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}


/* Modal Content */

.modalContent {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.mySlides>img {
  height: 70vh;
}


/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 70px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


/* Hide the slides by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Caption text */

.caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 16px;
  color: white;
}

img.pic {
  opacity: 0.6;
}

.active,
.pic:hover {
  opacity: 1;
}

#thumbFlex {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 600px;
}

#thumbFlex>.pic {
  flex: auto;
  width: 200px;
  height: 100px;
  margin: .5vw;
  transition: transform .5s;
}

/*Mockup Gallery*/

#design {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#design>.art {
  padding: 0 8px;
}

#mockModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.mmySlides>img {
  height: 70vh;
}

.mmySlides {
  display: none;
}

img.mPic {
  opacity: 0.6;
}

.active,
.mPic:hover {
  opacity: 1;
}

#thumbFlex>.mPic {
  flex: auto;
  width: 200px;
  height: 100px;
  margin: .5vw;
  transition: transform .5s;
}


.mPic {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 400px;
  height: 200px;
  margin: .5vw;
  transition: transform .5s;
}

.mPic img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: -webkit-transform .25s;
  /* For Safari 3.1 to 6.0 */
  transition: transform .25s;
}

.mPic img:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/* Code Repositories and Mock Websites */

#code img {
  width: 9%;
  margin: 5%;
}


/* Contact/Hire me */

#contact h2 a {
  font-size: 6vh;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 5%;
}

#contact h1 a:hover {
  color: #E0003C;
  text-decoration: underline;
}

  .header {
  display: none;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (min-width: 915px) and (max-width: 1200px) {
  #code img {
    width: 35%;
  }
  .mmySlides>img {
    height: auto;
    width: 100%;
}
.prev,
.next {
  margin-top: -150px;
  top: auto;
    }
}

@media only screen and (max-width: 915px) {

#code img {
    width: 40%;
    margin: 5%;
}
.header {
  display: none;
}
#land h1 {
  top: 45%;
}
.mySlides>img {
height: 55vh;
}
.mmySlides>img {
height: auto;
width: 100%;
}
.close {
  top: 10px;
}
.caption-container {
  padding: 40px 16px;
}
}
@media only screen and (max-width: 768px) {
  #Nav {
    display: none;
  }
  /*RESET STYLES*/
  button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
  }
  .button {
    cursor: pointer;
    color: #FFF;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  .link {
    color: inherit;
  }
  .list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  /*MENU STYLES*/
  /* menu */
  .header {
    box-sizing: border-box;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
  }
  .menu {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 55px;
    height: 0;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
  }
  .menu__list {
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    display: none;
    padding-top: 30px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .menu__group {
    padding: .5rem 3rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu__group:active {
    background-color: #FFF;
    color: #000;
  }
  .menu__item {
    padding: 8px 25px;
    display: block;
  }
  /* hamburger */
  .hamburger {
    position: relative;
    line-height: 1;
    padding-bottom: .5em;
  }
  .hamburger:before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #E0003C;
    border-radius: 50%;
    position: absolute;
    bottom: -55px;
    left: -35px;
  }
  .hamburger__button {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    z-index: 2;
  }
  .hamburger__button:before,
  .hamburger__button:after,
  .hamburger__label {
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    left: 0;
  }
  .hamburger__button:before,
  .hamburger__button:after {
    content: "";
  }
  .hamburger__button:before {
    top: 0;
  }
  .hamburger__button:after {
    bottom: 0;
  }
  .hamburger__button:focus {
    outline: none;
  }
  .hamburger__label {
    margin-top: -.1em;
    top: 50%;
  }
  /* activated state */
  .js-menu_activated {
    overflow: hidden;
  }
  .js-menu_activated .menu {
    height: 100%;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .js-menu_activated .hamburger:before {
    width: 100vh;
    height: 100vh;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
  }
  .js-menu_activated .menu__list {
    display: block;
  }
  .js-menu_activated .hamburger__button:before {
    transform: translate3d(0, -50%, 0) rotate(45deg);
    top: 50%;
  }
  .js-menu_activated .hamburger__button:after {
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  .js-menu_activated .hamburger__label {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }
  /* MOBILE ANIMATION STYLES */
  .menu {
    transition: opacity .2s ease-out;
  }
  .js-menu_activated .menu {
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  .hamburger:before {
    will-change: width, height;
    transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98), width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98), height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  .js-menu_activated .hamburger:before {
    transition-duration: 1s;
  }
  .hamburger__button:before,
  .hamburger__button:after {
    transition-property: transform;
  }
  .hamburger__button:before,
  .hamburger__button:after,
  .hamburger__label {
    transition-timing-function: ease;
    transition-duration: .15s;
  }
  .hamburger__label {
    transition-property: transform, opacity;
  }
}

@media only screen and (min-height: 700px) {
#land {
    margin-top: 125px;
}
.prev,
.next {
  margin-top: -150px;
  top: auto;
    }
}

@media only screen and (max-width: 500px) and (max-height: 700px) {
#design {
    padding-top: 5vh;
    padding-bottom: 30vh;
}
#land {
    margin-top: 75px;

}
.prev,
.next {
  margin-top: -150px;
  top: auto;
    }
}

@media only screen and (max-width: 500px) {
  .nav {
    display: none;
  }
  #land h1 {
    top: 50%;
    font-size: 5em;
  }
  #land img {
    width: 100%;
  }
  h1 {
    font-size: 18vw;
  }
  #code img {
    width: 50%;
  }
  .art .pic {
    width: 100%;
    height: 100px;
  }
  .subSec {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  #artModal {
    padding-top: 50px;
  }
  .close {
    top: 5px;
    right: 5px;
    z-index: 2;
  }
  .numbertext {
    font-weight: bold;
  }
  .numbertext, .prev, .next {
    color: #E0003C;
  }
  .mySlides>img {
    width: 100%;
    height: auto;
  }
  .mmySlides>img {
    width: 100%;
    height: auto;
}
  #mockModal {
    padding-top: 50px;
  }
  #contact {
    padding-bottom: 30vh;
  }
  .prev,
.next {
  margin-top: -150px;
  top: auto;
    }
}

